<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss(false)">關閉</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">下載</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-img [src]="data"></ion-img>
  </ion-card>
  <ion-button (click)="dismiss(true)" shape="round" expand="block">完成</ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
