<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage/administrator/list" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>管理員</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">管理員</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="(loading$ | async) === false; else loading;">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img [src]="generatePhoto(administrator.id)"></ion-img>
          </ion-avatar>
          <ion-label class="ion-text-wrap">{{administrator.userName}}</ion-label>
          <ion-badge slot="end" [color]="administrator.isEnable ? 'success' : 'light'">
            {{administrator.isEnable ? '帳戶已啟用' : '帳戶尚未啟用'}}
          </ion-badge>
        </ion-item>
        <ion-card-content>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>電子郵件</ion-label>
              <ion-badge slot="end" [color]="administrator.emailConfirmed ? 'success' : 'light'">
                {{administrator.emailConfirmed ? '已驗證' : '尚未驗證'}}
              </ion-badge>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.email}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>手機號碼</ion-label>
              <ion-badge slot="end" [color]="administrator.phoneNumberConfirmed ? 'success' : 'light'">
                {{administrator.phoneNumberConfirmed ? '已驗證' : '尚未驗證'}}
              </ion-badge>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.phoneNumber}}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">{{administrator.name}}</ion-label>
          <ion-badge [color]="administrator.identityConfirmed ? 'success' : 'light'">
            {{administrator.identityConfirmed ? '已通過實名驗證' : '尚未通過實名驗證'}}
          </ion-badge>
        </ion-item>
        <ion-card-content>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>身份證字號</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{showNationalId ? administrator.nationalId : '**********'}}</ion-label>
              <ion-button (click)="toggleNationalId()" fill="clear" color="medium" slot="end">
                <ion-icon slot="icon-only" [name]="showNationalId ? 'eye' : 'eye-off'"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item-divider>
              <ion-label>性別</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ng-container [ngSwitch]="administrator.gender">
                  <ng-template [ngSwitchCase]="0">女性</ng-template>
                  <ng-template [ngSwitchCase]="1">男性</ng-template>
                  <ng-template [ngSwitchCase]="2">其他</ng-template>
                </ng-container>
              </ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>生日</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.dateOfBirth | date: 'yyyy/MM/dd'}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>通訊地址</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.currentAddress}}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item lines="none">
          <ion-label>管理員資訊</ion-label>
          <ion-badge [color]="administrator.administratorConfirmed ? 'success' : 'light'">
            {{administrator.administratorConfirmed ? '已驗證' : '尚未驗證'}}
          </ion-badge>
        </ion-item>
        <ion-card-content>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>證號</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.networkId}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>部門</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.dept}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>單位</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.unit}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>職稱</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.jobTitle}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>分機</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.extension}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>聯絡用電子郵件</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{administrator.contactEmail}}</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>負責業務</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let responsibility of administrator.responsibilities; let i = index;" lines="inset">
              <ion-note slot="start">{{i+1 + '.'}}</ion-note>
              <ion-label class="ion-text-wrap">{{responsibility.description}}</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-card-content>
        <div class="ion-text-center ion-margin">
          <ion-badge [color]="administrator.showAbout && administrator.administratorConfirmed ? 'warning' : 'medium'">
            {{administrator.showAbout && administrator.administratorConfirmed ? '卡片資訊將會顯示於關於我們頁面' : '卡片資訊將不會顯示於關於我們頁面'}}
          </ion-badge>
        </div>
      </ion-card>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
