<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/act" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>建立職缺</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">建立職缺</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" novalidate>
    <ion-list lines="full">
      <ion-item lines="none" color="light">
        <ion-label>
          <ion-text color="danger">*</ion-text>為必填項目
        </ion-label>
      </ion-item>
      <!-- divisionName -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>職缺單位/部門</ion-label>
        <ion-input formControlName="divisionName" type="text" inputmode="text" placeholder="職缺單位/部門" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['divisionName'].hasError('required') && (createForm.controls['divisionName'].dirty || createForm.controls['divisionName'].touched)">
          職缺單位/部門是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['divisionName'].hasError('maxlength') && (createForm.controls['divisionName'].dirty || createForm.controls['divisionName'].touched)">
          職缺單位/部門<strong>最多30位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['divisionName'].hasError('server') && (createForm.controls['divisionName'].dirty || createForm.controls['divisionName'].touched)">
          {{ createForm.controls['divisionName'].getError('server') }}
        </ion-text>
      </div>
      <!-- jobTitle -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>職務名稱</ion-label>
        <ion-input formControlName="jobTitle" type="text" inputmode="text" placeholder="職務名稱" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['jobTitle'].hasError('required') && (createForm.controls['jobTitle'].dirty || createForm.controls['jobTitle'].touched)">
          職務名稱是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['jobTitle'].hasError('maxlength') && (createForm.controls['jobTitle'].dirty || createForm.controls['jobTitle'].touched)">
          職務名稱<strong>最多30位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['jobTitle'].hasError('server') && (createForm.controls['jobTitle'].dirty || createForm.controls['jobTitle'].touched)">
          {{ createForm.controls['jobTitle'].getError('server') }}
        </ion-text>
      </div>
      <!-- jobDescription -->
      <ion-list-header>
        <ion-label color="tertiary"><ion-text color="danger">*</ion-text>工作內容</ion-label>
      </ion-list-header>
      <div class="ion-margin">
        <quill-editor formControlName="jobDescription" format="html" [styles]="{'height': '50vh'}" placeholder="工作內容" [required]="true"></quill-editor>
      </div>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['jobDescription'].hasError('required') && (createForm.controls['jobDescription'].dirty || createForm.controls['jobDescription'].touched)">
          工作內容是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['jobDescription'].hasError('server') && (createForm.controls['jobDescription'].dirty || createForm.controls['jobDescription'].touched)">
          {{ createForm.controls['jobDescription'].getError('server') }}
        </ion-text>
      </div>
      <!-- workPlace -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>工作地點</ion-label>
        <ion-textarea formControlName="workPlace" auto-grow="true" inputmode="text" placeholder="工作地點" required></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workPlace'].hasError('required') && (createForm.controls['workPlace'].dirty || createForm.controls['workPlace'].touched)">
          工作地點是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workPlace'].hasError('maxlength') && (createForm.controls['workPlace'].dirty || createForm.controls['workPlace'].touched)">
          工作地點<strong>最多200位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workPlace'].hasError('server') && (createForm.controls['workPlace'].dirty || createForm.controls['workPlace'].touched)">
          {{ createForm.controls['workPlace'].getError('server') }}
        </ion-text>
      </div>
      <!-- salary -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>薪資</ion-label>
        <ion-input formControlName="salary" type="text" inputmode="text" placeholder="薪資" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['salary'].hasError('required') && (createForm.controls['salary'].dirty || createForm.controls['salary'].touched)">
          薪資是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['salary'].hasError('maxlength') && (createForm.controls['salary'].dirty || createForm.controls['salary'].touched)">
          薪資<strong>最多20位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['salary'].hasError('server') && (createForm.controls['salary'].dirty || createForm.controls['salary'].touched)">
          {{ createForm.controls['salary'].getError('server') }}
        </ion-text>
      </div>
      <!-- requiredNumber -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>需求人數</ion-label>
        <ion-input formControlName="requiredNumber" type="number" [min]="0" inputmode="numeric" placeholder="需求人數" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['requiredNumber'].hasError('required') && (createForm.controls['requiredNumber'].dirty || createForm.controls['requiredNumber'].touched)">
          需求人數是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['requiredNumber'].hasError('min') && (createForm.controls['requiredNumber'].dirty || createForm.controls['requiredNumber'].touched)">
          需求人數<strong>最小為 0</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['requiredNumber'].hasError('server') && (createForm.controls['requiredNumber'].dirty || createForm.controls['requiredNumber'].touched)">
          {{ createForm.controls['requiredNumber'].getError('server') }}
        </ion-text>
      </div>
      <!-- education -->
      <ion-item lines="inset">
        <ion-label><ion-text color="danger">*</ion-text>學歷</ion-label>
      </ion-item>
      <ion-radio-group allowEmptySelection="false" formControlName="education">
        <ion-item lines="inset">
          <ion-radio slot="start" [value]="0"></ion-radio>
          <ion-label>無</ion-label>
        </ion-item>
        <ion-item lines="inset">
          <ion-radio slot="start" [value]="1"></ion-radio>
          <ion-label>學士</ion-label>
        </ion-item>
        <ion-item lines="inset">
          <ion-radio slot="start" [value]="2"></ion-radio>
          <ion-label>碩士</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" [value]="3"></ion-radio>
          <ion-label>博士</ion-label>
        </ion-item>
      </ion-radio-group>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['education'].hasError('server') && (createForm.controls['education'].dirty || createForm.controls['education'].touched)">
          {{ createForm.controls['education'].getError('server') }}
        </ion-text>
      </div>
      <!-- workExperience -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>相關工作經驗</ion-label>
        <ion-textarea formControlName="workExperience" auto-grow="true" inputmode="text" placeholder="相關工作經驗" required></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workExperience'].hasError('required') && (createForm.controls['workExperience'].dirty || createForm.controls['workExperience'].touched)">
          相關工作經驗是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workExperience'].hasError('maxlength') && (createForm.controls['workExperience'].dirty || createForm.controls['workExperience'].touched)">
          相關工作經驗<strong>最多500位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['workExperience'].hasError('server') && (createForm.controls['workExperience'].dirty || createForm.controls['workExperience'].touched)">
          {{ createForm.controls['workExperience'].getError('server') }}
        </ion-text>
      </div>
      <!-- language -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>語言能力</ion-label>
        <ion-textarea formControlName="language" auto-grow="true" inputmode="text" placeholder="語言能力" required></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['language'].hasError('required') && (createForm.controls['language'].dirty || createForm.controls['language'].touched)">
          語言能力是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['language'].hasError('maxlength') && (createForm.controls['language'].dirty || createForm.controls['language'].touched)">
          語言能力<strong>最多100位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['language'].hasError('server') && (createForm.controls['language'].dirty || createForm.controls['language'].touched)">
          {{ createForm.controls['language'].getError('server') }}
        </ion-text>
      </div>
      <!-- nationality -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>聘用人員國籍</ion-label>
        <ion-input formControlName="nationality" type="text" inputmode="text" placeholder="聘用人員國籍" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['nationality'].hasError('required') && (createForm.controls['nationality'].dirty || createForm.controls['nationality'].touched)">
          聘用人員國籍是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['nationality'].hasError('maxlength') && (createForm.controls['nationality'].dirty || createForm.controls['nationality'].touched)">
          聘用人員國籍<strong>最多30位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['nationality'].hasError('server') && (createForm.controls['nationality'].dirty || createForm.controls['nationality'].touched)">
          {{ createForm.controls['nationality'].getError('server') }}
        </ion-text>
      </div>
      <!-- isAccessibility -->
      <ion-item>
        <ion-label>{{ createForm.controls['isAccessibility'].value ? '允許身心障礙者應徵' : '不允許身心障礙者應徵' }}</ion-label>
        <ion-toggle formControlName="isAccessibility"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin" [disabled]="createForm.invalid" type="submit" shape="round" expand="block">建立</ion-button>
  </form>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
