<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/act" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>系列活動</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">系列活動</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container [ngSwitch]="status">
    <ion-card *ngSwitchCase="type.coming" color="secondary">
      <ion-item lines="none" color="secondary">
        <fa-icon [icon]="['far', 'file']" slot="start"></fa-icon>
        <ion-label>即將到來</ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngSwitchCase="type.ing" color="primary">
      <ion-item lines="none" color="primary">
        <fa-icon [icon]="['fas', 'file-signature']" slot="start"></fa-icon>
        <ion-label>報名中 / 進行中</ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngSwitchCase="type.end" color="medium">
      <ion-item lines="none" color="medium">
        <fa-icon [icon]="['fas', 'file']" slot="start"></fa-icon>
        <ion-label>已結束</ion-label>
      </ion-item>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="(loading$ | async) === false; else loading;">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <ng-container *ngIf="campaigns.length !== 0; else empty">
        <ion-card *ngFor="let campaign of campaigns" [routerLink]="['/act/campaign', campaign.id]" color="light">
          <ion-card-header>
            <ion-card-title>{{campaign.title}}</ion-card-title>
          </ion-card-header>
          <ion-list lines="none">
            <ion-item color="light" lines="inset">
              <ion-label>活動時間：</ion-label>
            </ion-item>
            <ion-item color="light">
              <ion-label class="ion-text-wrap">{{campaign.startTime | date: 'yyyy/MM/dd HH:mm'}} ~ {{campaign.endTime | date: 'yyyy/MM/dd HH:mm'}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ng-container>
      <ng-template #empty>
        <ion-card>
          <ion-card-header>
            <ion-card-title>無資料</ion-card-title>
          </ion-card-header>
          <ion-img src="assets/No-data-rafiki.svg" alt="無資料"></ion-img>
          <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
        </ion-card>
      </ng-template>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<ion-footer *ngIf="(loading$ | async) === false && (loadingError$ | async) === false" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="pagination.pageIndex === 0">上一頁</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="small">{{pagination.pageIndex+1}} / {{pagination.page}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="pagination.pageLength <= pagination.pageSize">下一頁</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
