<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">取消</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">修改檔案履歷</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="editForm.invalid" (click)="onSubmit(editForm.value)">修改</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">修改檔案履歷</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="warning">
    <ion-item lines="none" color="warning">
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">修改附檔名可能會造成檔案損毀</ion-label>
    </ion-item>
  </ion-card>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" novalidate>
    <ion-list lines="full">
      <ion-item lines="none" color="light">
        <ion-label>
          <ion-text color="danger">*</ion-text>為必填項目
        </ion-label>
      </ion-item>
      <!-- name -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>檔案名稱</ion-label>
        <ion-textarea formControlName="name" autoGrow="true" inputmode="text" placeholder="檔案名稱" required></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="editForm.controls['name'].hasError('required') && (editForm.controls['name'].dirty || editForm.controls['name'].touched)">
          檔案名稱是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="editForm.controls['name'].hasError('maxlength') && (editForm.controls['name'].dirty || editForm.controls['name'].touched)">
          檔案名稱<strong>最多260位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="editForm.controls['name'].hasError('server') && (editForm.controls['name'].dirty || editForm.controls['name'].touched)">
          {{ editForm.controls['name'].getError('server') }}
        </ion-text>
      </div>
      <!-- extension -->
      <ion-item>
        <ion-label position="stacked">副檔名</ion-label>
        <ion-input formControlName="extension" type="text" inputmode="text" placeholder="副檔名"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="editForm.controls['extension'].hasError('maxlength') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
          副檔名<strong>最多10位</strong>
        </ion-text>
        <ion-text class="error-message" *ngIf="editForm.controls['extension'].hasError('server') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
          {{ editForm.controls['extension'].getError('server') }}
        </ion-text>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
