<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/act" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>建立一般活動</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">建立一般活動</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" novalidate>
    <ion-list lines="full">
      <ion-item lines="none" color="light">
        <ion-label>
          <ion-text color="danger">*</ion-text>為必填項目
        </ion-label>
      </ion-item>
      <!-- title -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>名稱</ion-label>
        <ion-input formControlName="title" type="text" inputmode="text" placeholder="名稱" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['title'].hasError('required') && (createForm.controls['title'].dirty || createForm.controls['title'].touched)">
          名稱是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['title'].hasError('maxlength') && (createForm.controls['title'].dirty || createForm.controls['title'].touched)">
          名稱<strong>最多50位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['title'].hasError('server') && (createForm.controls['title'].dirty || createForm.controls['title'].touched)">
          {{ createForm.controls['title'].getError('server') }}
        </ion-text>
      </div>
      <!-- content -->
      <ion-list-header>
        <ion-label color="tertiary"><ion-text color="danger">*</ion-text>內容</ion-label>
      </ion-list-header>
      <div class="ion-margin">
        <quill-editor formControlName="content" format="html" [styles]="{'height': '50vh'}" placeholder="內容" [required]="true"></quill-editor>
      </div>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['content'].hasError('required') && (createForm.controls['content'].dirty || createForm.controls['content'].touched)">
          內容是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['content'].hasError('server') && (createForm.controls['content'].dirty || createForm.controls['content'].touched)">
          {{ createForm.controls['content'].getError('server') }}
        </ion-text>
      </div>
      <!-- declaration -->
      <ion-list-header>
        <ion-label color="tertiary">
          <h1>聲明</h1>
          <p><ion-text color="medium">活動聲明會在用戶報名活動時展示出來</ion-text></p>
        </ion-label>
      </ion-list-header>
      <div class="ion-margin">
        <quill-editor formControlName="declaration" format="html" [styles]="{'height': '50vh'}" placeholder="聲明"></quill-editor>
      </div>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['declaration'].hasError('server') && (createForm.controls['declaration'].dirty || createForm.controls['declaration'].touched)">
          {{ createForm.controls['declaration'].getError('server') }}
        </ion-text>
      </div>
      <!-- venue -->
      <ion-item>
        <ion-label position="stacked">地點</ion-label>
        <ion-textarea formControlName="venue" auto-grow="true" inputmode="text" placeholder="地點"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['venue'].hasError('maxlength') && (createForm.controls['venue'].dirty || createForm.controls['venue'].touched)">
          地點<strong>最多200位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['venue'].hasError('server') && (createForm.controls['venue'].dirty || createForm.controls['venue'].touched)">
          {{ createForm.controls['venue'].getError('server') }}
        </ion-text>
      </div>
      <ion-list-header>
        <ion-label color="tertiary">報名時間</ion-label>
      </ion-list-header>
      <!-- registrationStartDate -->
      <ion-item>
        <ion-label position="stacked">報名開始日期</ion-label>
        <ion-datetime formControlName="registrationStartDate" [max]="createForm.controls['registrationEndDate'].value ? createForm.controls['registrationEndDate'].value : undefined" displayFormat="YYYY/MM/DD" done-text="完成" cancel-text="取消" placeholder="報名開始日期"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationStartDate'].hasError('required') && (createForm.controls['registrationStartDate'].dirty || createForm.controls['registrationStartDate'].touched)">
          報名開始日期是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationStartDate'].hasError('server') && (createForm.controls['registrationStartDate'].dirty || createForm.controls['registrationStartDate'].touched)">
          {{ createForm.controls['registrationStartDate'].getError('server') }}
        </ion-text>
      </div>
      <!-- registrationStartTime -->
      <ion-item>
        <ion-label position="stacked">報名開始時間</ion-label>
        <ion-datetime formControlName="registrationStartTime" displayFormat="HH:mm" done-text="完成" cancel-text="取消" placeholder="報名開始時間"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationStartTime'].hasError('required') && (createForm.controls['registrationStartTime'].dirty || createForm.controls['registrationStartTime'].touched)">
          報名開始時間是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationStartTime'].hasError('server') && (createForm.controls['registrationStartTime'].dirty || createForm.controls['registrationStartTime'].touched)">
          {{ createForm.controls['registrationStartTime'].getError('server') }}
        </ion-text>
      </div>
      <!-- registrationEndDate -->
      <ion-item>
        <ion-label position="stacked">報名結束日期</ion-label>
        <ion-datetime formControlName="registrationEndDate" [max]="createForm.controls['startDate'].value ? createForm.controls['startDate'].value : undefined" [min]="createForm.controls['registrationStartDate'].value ? createForm.controls['registrationStartDate'].value : undefined" displayFormat="YYYY/MM/DD" done-text="完成" cancel-text="取消" placeholder="報名結束日期"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationEndDate'].hasError('required') && (createForm.controls['registrationEndDate'].dirty || createForm.controls['registrationEndDate'].touched)">
          報名結束日期是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationEndDate'].hasError('server') && (createForm.controls['registrationEndDate'].dirty || createForm.controls['registrationEndDate'].touched)">
          {{ createForm.controls['registrationEndTime'].getError('server') }}
        </ion-text>
      </div>
      <!-- registrationEndTime -->
      <ion-item>
        <ion-label position="stacked">報名結束時間</ion-label>
        <ion-datetime formControlName="registrationEndTime" displayFormat="HH:mm" done-text="完成" cancel-text="取消" placeholder="報名結束時間"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationEndTime'].hasError('required') && (createForm.controls['registrationEndTime'].dirty || createForm.controls['registrationEndTime'].touched)">
          報名結束時間是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['registrationEndTime'].hasError('server') && (createForm.controls['registrationEndTime'].dirty || createForm.controls['registrationEndTime'].touched)">
          {{ createForm.controls['registrationEndTime'].getError('server') }}
        </ion-text>
      </div>
      <ion-list-header>
        <ion-label color="tertiary"><ion-text color="danger">*</ion-text>活動時間</ion-label>
      </ion-list-header>
      <!-- startDate -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>開始日期</ion-label>
        <ion-datetime formControlName="startDate" [max]="createForm.controls['endDate'].value ? createForm.controls['endDate'].value : undefined" [min]="createForm.controls['registrationEndDate'].value ? createForm.controls['registrationEndDate'].value : undefined" displayFormat="YYYY/MM/DD" done-text="完成" cancel-text="取消" placeholder="開始日期"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['startDate'].hasError('required') && (createForm.controls['startDate'].dirty || createForm.controls['startDate'].touched)">
          開始日期是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['startDate'].hasError('server') && (createForm.controls['startDate'].dirty || createForm.controls['startDate'].touched)">
          {{ createForm.controls['startTime'].getError('server') }}
        </ion-text>
      </div>
      <!-- startTime -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>開始時間</ion-label>
        <ion-datetime formControlName="startTime" displayFormat="HH:mm" done-text="完成" cancel-text="取消" placeholder="開始時間"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['startTime'].hasError('required') && (createForm.controls['startTime'].dirty || createForm.controls['startTime'].touched)">
          開始時間是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['startTime'].hasError('server') && (createForm.controls['startTime'].dirty || createForm.controls['startTime'].touched)">
          {{ createForm.controls['startTime'].getError('server') }}
        </ion-text>
      </div>
      <!-- endDate -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>結束日期</ion-label>
        <ion-datetime formControlName="endDate" [min]="createForm.controls['startDate'].value ? createForm.controls['startDate'].value : undefined" displayFormat="YYYY/MM/DD" done-text="完成" cancel-text="取消" placeholder="結束日期"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['endDate'].hasError('required') && (createForm.controls['endDate'].dirty || createForm.controls['endDate'].touched)">
          結束日期是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['endDate'].hasError('server') && (createForm.controls['endDate'].dirty || createForm.controls['endDate'].touched)">
          {{ createForm.controls['endDate'].getError('server') }}
        </ion-text>
      </div>
      <!-- endTime -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>結束時間</ion-label>
        <ion-datetime formControlName="endTime" displayFormat="HH:mm" done-text="完成" cancel-text="取消" placeholder="結束時間"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['endTime'].hasError('required') && (createForm.controls['endTime'].dirty || createForm.controls['endTime'].touched)">
          結束時間是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['endTime'].hasError('server') && (createForm.controls['endTime'].dirty || createForm.controls['endTime'].touched)">
          {{ createForm.controls['endTime'].getError('server') }}
        </ion-text>
      </div>
      <!-- limitNumberOfPeople -->
      <ion-item>
        <ion-label position="stacked">
          <ion-text color="danger">*</ion-text>人數限制
          <p>若為 0 則為不限人數</p>
        </ion-label>
        <ion-input formControlName="limitNumberOfPeople" type="number" [min]="0" inputmode="numeric" placeholder="人數限制" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['limitNumberOfPeople'].hasError('required') && (createForm.controls['limitNumberOfPeople'].dirty || createForm.controls['limitNumberOfPeople'].touched)">
          人數限制是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['limitNumberOfPeople'].hasError('min') && (createForm.controls['limitNumberOfPeople'].dirty || createForm.controls['limitNumberOfPeople'].touched)">
          人數限制<strong>最小為 0</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="createForm.controls['limitNumberOfPeople'].hasError('server') && (createForm.controls['limitNumberOfPeople'].dirty || createForm.controls['limitNumberOfPeople'].touched)">
          {{ createForm.controls['limitNumberOfPeople'].getError('server') }}
        </ion-text>
      </div>
      <!-- enableVerify -->
      <ion-item>
        <ion-label>{{ createForm.controls['enableVerify'].value ? '啟用審核' : '關閉審核' }}</ion-label>
        <ion-toggle formControlName="enableVerify"></ion-toggle>
      </ion-item>
      <!-- enableIdentityConfirmed -->
      <ion-item>
        <ion-label>{{ createForm.controls['enableIdentityConfirmed'].value ? '啟用實名制' : '關閉實名制' }}</ion-label>
        <ion-toggle formControlName="enableIdentityConfirmed"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin" [disabled]="createForm.invalid" type="submit" shape="round" expand="block">建立</ion-button>
  </form>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ year }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
