<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/act" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>編輯職缺</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="segment !== 'qualification' && segment !== 'faculty'" routerLink="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="segment === 'qualification'" (click)="createQualification()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="segment === 'faculty'" (click)="createFaculty()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">編輯職缺</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="opening">
      <ion-segment-button value="opening">
        <ion-label>職缺</ion-label>
      </ion-segment-button>
      <ion-segment-button value="qualification">
        <ion-label>資格條件</ion-label>
      </ion-segment-button>
      <ion-segment-button value="faculty">
        <ion-label>需求科系</ion-label>
      </ion-segment-button>
      <ion-segment-button value="other">
        <ion-label>其他</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <ng-container *ngIf="segment === 'opening'">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" novalidate>
          <ion-list lines="full">
            <ion-item lines="none" color="light">
              <ion-label>
                <ion-text color="danger">*</ion-text>為必填項目
              </ion-label>
            </ion-item>
            <!-- divisionName -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>職缺單位/部門</ion-label>
              <ion-input formControlName="divisionName" type="text" inputmode="text" placeholder="職缺單位/部門" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['divisionName'].hasError('required') && (editForm.controls['divisionName'].dirty || editForm.controls['divisionName'].touched)">
                職缺單位/部門是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['divisionName'].hasError('maxlength') && (editForm.controls['divisionName'].dirty || editForm.controls['divisionName'].touched)">
                職缺單位/部門<strong>最多30位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['divisionName'].hasError('server') && (editForm.controls['divisionName'].dirty || editForm.controls['divisionName'].touched)">
                {{ editForm.controls['divisionName'].getError('server') }}
              </ion-text>
            </div>
            <!-- jobTitle -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>職務名稱</ion-label>
              <ion-input formControlName="jobTitle" type="text" inputmode="text" placeholder="職務名稱" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('required') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
                職務名稱是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('maxlength') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
                職務名稱<strong>最多30位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('server') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
                {{ editForm.controls['jobTitle'].getError('server') }}
              </ion-text>
            </div>
            <!-- jobDescription -->
            <ion-list-header>
              <ion-label color="tertiary"><ion-text color="danger">*</ion-text>工作內容</ion-label>
            </ion-list-header>
            <div class="ion-margin">
              <quill-editor formControlName="jobDescription" format="html" [styles]="{'height': '50vh'}" placeholder="工作內容" [required]="true"></quill-editor>
            </div>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobDescription'].hasError('required') && (editForm.controls['jobDescription'].dirty || editForm.controls['jobDescription'].touched)">
                工作內容是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobDescription'].hasError('server') && (editForm.controls['jobDescription'].dirty || editForm.controls['jobDescription'].touched)">
                {{ editForm.controls['jobDescription'].getError('server') }}
              </ion-text>
            </div>
            <!-- workPlace -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>工作地點</ion-label>
              <ion-textarea formControlName="workPlace" auto-grow="true" inputmode="text" placeholder="工作地點" required></ion-textarea>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workPlace'].hasError('required') && (editForm.controls['workPlace'].dirty || editForm.controls['workPlace'].touched)">
                工作地點是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workPlace'].hasError('maxlength') && (editForm.controls['workPlace'].dirty || editForm.controls['workPlace'].touched)">
                工作地點<strong>最多200位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workPlace'].hasError('server') && (editForm.controls['workPlace'].dirty || editForm.controls['workPlace'].touched)">
                {{ editForm.controls['workPlace'].getError('server') }}
              </ion-text>
            </div>
            <!-- salary -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>薪資</ion-label>
              <ion-input formControlName="salary" type="text" inputmode="text" placeholder="薪資" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['salary'].hasError('required') && (editForm.controls['salary'].dirty || editForm.controls['salary'].touched)">
                薪資是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['salary'].hasError('maxlength') && (editForm.controls['salary'].dirty || editForm.controls['salary'].touched)">
                薪資<strong>最多20位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['salary'].hasError('server') && (editForm.controls['salary'].dirty || editForm.controls['salary'].touched)">
                {{ editForm.controls['salary'].getError('server') }}
              </ion-text>
            </div>
            <!-- requiredNumber -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>需求人數</ion-label>
              <ion-input formControlName="requiredNumber" type="number" [min]="0" inputmode="numeric" placeholder="需求人數" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['requiredNumber'].hasError('required') && (editForm.controls['requiredNumber'].dirty || editForm.controls['requiredNumber'].touched)">
                需求人數是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['requiredNumber'].hasError('min') && (editForm.controls['requiredNumber'].dirty || editForm.controls['requiredNumber'].touched)">
                需求人數<strong>最小為 0</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['requiredNumber'].hasError('server') && (editForm.controls['requiredNumber'].dirty || editForm.controls['requiredNumber'].touched)">
                {{ editForm.controls['requiredNumber'].getError('server') }}
              </ion-text>
            </div>
            <!-- education -->
            <ion-item lines="inset">
              <ion-label><ion-text color="danger">*</ion-text>學歷</ion-label>
            </ion-item>
            <ion-radio-group allowEmptySelection="false" formControlName="education">
              <ion-item lines="inset">
                <ion-radio slot="start" [value]="0"></ion-radio>
                <ion-label>無</ion-label>
              </ion-item>
              <ion-item lines="inset">
                <ion-radio slot="start" [value]="1"></ion-radio>
                <ion-label>學士</ion-label>
              </ion-item>
              <ion-item lines="inset">
                <ion-radio slot="start" [value]="2"></ion-radio>
                <ion-label>碩士</ion-label>
              </ion-item>
              <ion-item>
                <ion-radio slot="start" [value]="3"></ion-radio>
                <ion-label>博士</ion-label>
              </ion-item>
            </ion-radio-group>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['education'].hasError('server') && (editForm.controls['education'].dirty || editForm.controls['education'].touched)">
                {{ editForm.controls['education'].getError('server') }}
              </ion-text>
            </div>
            <!-- workExperience -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>相關工作經驗</ion-label>
              <ion-textarea formControlName="workExperience" auto-grow="true" inputmode="text" placeholder="相關工作經驗" required></ion-textarea>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workExperience'].hasError('required') && (editForm.controls['workExperience'].dirty || editForm.controls['workExperience'].touched)">
                相關工作經驗是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workExperience'].hasError('maxlength') && (editForm.controls['workExperience'].dirty || editForm.controls['workExperience'].touched)">
                相關工作經驗<strong>最多500位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['workExperience'].hasError('server') && (editForm.controls['workExperience'].dirty || editForm.controls['workExperience'].touched)">
                {{ editForm.controls['workExperience'].getError('server') }}
              </ion-text>
            </div>
            <!-- language -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>語言能力</ion-label>
              <ion-textarea formControlName="language" auto-grow="true" inputmode="text" placeholder="語言能力" required></ion-textarea>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['language'].hasError('required') && (editForm.controls['language'].dirty || editForm.controls['language'].touched)">
                語言能力是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['language'].hasError('maxlength') && (editForm.controls['language'].dirty || editForm.controls['language'].touched)">
                語言能力<strong>最多100位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['language'].hasError('server') && (editForm.controls['language'].dirty || editForm.controls['language'].touched)">
                {{ editForm.controls['language'].getError('server') }}
              </ion-text>
            </div>
            <!-- nationality -->
            <ion-item>
              <ion-label position="stacked"><ion-text color="danger">*</ion-text>聘用人員國籍</ion-label>
              <ion-input formControlName="nationality" type="text" inputmode="text" placeholder="聘用人員國籍" required></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['nationality'].hasError('required') && (editForm.controls['nationality'].dirty || editForm.controls['nationality'].touched)">
                聘用人員國籍是<strong>必填的</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['nationality'].hasError('maxlength') && (editForm.controls['nationality'].dirty || editForm.controls['nationality'].touched)">
                聘用人員國籍<strong>最多30位</strong>
              </ion-text>
              <ion-text color="danger" class="error-message" *ngIf="editForm.controls['nationality'].hasError('server') && (editForm.controls['nationality'].dirty || editForm.controls['nationality'].touched)">
                {{ editForm.controls['nationality'].getError('server') }}
              </ion-text>
            </div>
            <!-- isAccessibility -->
            <ion-item>
              <ion-label>{{ editForm.controls['isAccessibility'].value ? '允許身心障礙者應徵' : '不允許身心障礙者應徵' }}</ion-label>
              <ion-toggle formControlName="isAccessibility"></ion-toggle>
            </ion-item>
          </ion-list>
          <ion-button class="ion-margin" [disabled]="editForm.invalid" type="submit" shape="round" expand="block">修改</ion-button>
        </form>
      </ng-container>
      <ng-container *ngIf="segment === 'qualification'">
        <ng-container *ngIf="opening.qualifications.length !== 0; else empty">
          <ion-list lines="full">
            <ion-item *ngFor="let qualification of opening.qualifications" (click)="optionQualification(qualification)" detail>
              <ion-label class="ion-text-wrap">{{qualification.description}}</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
        <ng-template #empty>
          <ion-card>
            <ion-card-header>
              <ion-card-title>無資料</ion-card-title>
            </ion-card-header>
            <ion-img src="assets/No-data-rafiki.svg" alt="無資料"></ion-img>
            <ion-button (click)="createQualification()" class="ion-margin" color="primary" expand="block" shape="round">立即建立</ion-button>
          </ion-card>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="segment === 'faculty'">
        <ng-container *ngIf="opening.faculties.length !== 0; else empty">
          <ion-list lines="full">
            <ion-item *ngFor="let faculty of opening.faculties" (click)="optionFaculty(faculty)" detail>
              <ion-label class="ion-text-wrap">{{faculty.description}}</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
        <ng-template #empty>
          <ion-card>
            <ion-card-header>
              <ion-card-title>無資料</ion-card-title>
            </ion-card-header>
            <ion-img src="assets/No-data-rafiki.svg" alt="無資料"></ion-img>
            <ion-button (click)="createFaculty()" class="ion-margin" color="primary" expand="block" shape="round">立即建立</ion-button>
          </ion-card>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="segment === 'other'">
        <ion-button (click)="showDeliveryResume()" class="ion-margin" expand="block" shape="round">查看履歷</ion-button>
        <ion-button class="ion-margin" color="danger" expand="block" shape="round">刪除職缺</ion-button>
      </ng-container>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
