<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>公司列表</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">公司列表</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <ion-card *ngFor="let company of companies" [routerLink]="['/company', company.id]">
        <ion-item lines="none" color="light">
          <ion-thumbnail slot="start">
            <ion-img *ngIf="company.hasLogo" src="{{urlRoot+'/companies/'+company.id+'/logo'}}"></ion-img>
            <ion-img *ngIf="!company.hasLogo" [src]="createPhoto(company.id)"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">{{company.name}}</ion-label>
        </ion-item>
      </ion-card>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<ion-footer *ngIf="(loading$ | async) === false && (loadingError$ | async) === false" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="pagination.pageIndex === 0">上一頁</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="small">{{pagination.pageIndex+1}} / {{pagination.page}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="pagination.pageLength <= pagination.pageSize">下一頁</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
