<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">關閉</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">活動簽到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card color="warning" *ngIf="hasPermission === undefined">
    <ion-card-content>
      <b>Waiting for permissions.</b>
      <p>If your device does not has cameras, no permissions will be asked.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="warning" *ngIf="hasPermission === false">
    <ion-card-content>
      <p>You denied the camera permission, we can't scan anything without it.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="warning" *ngIf="hasDevices === undefined">
    <ion-card-content>
      <b>Couldn't check for devices.</b>
      <p>This may be caused by some security error.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="warning" *ngIf="hasDevices === false">
    <ion-card-content>
      <b>No devices were found.</b>
      <p>I believe your device has no media devices attached to.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium" class="ion-no-margin ion-margin-bottom">
    <ion-item lines="none" color="medium">
      <ion-label>選擇裝置</ion-label>
      <ion-select [value]="deviceSelected" interface="action-sheet" cancelText="取消" (ionChange)="onDeviceSelectChange($event)">
        <ion-select-option value="">未選擇裝置</ion-select-option>
        <ion-select-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <zxing-scanner [hidden]="!hasDevices" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)"
                 (camerasFound)="onCamerasFound($event)" (permissionResponse)="onHasPermission($event)"
                 (scanSuccess)="scanSuccess($event)"></zxing-scanner>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
