<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/profile/examiner" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>審查員資訊</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">審查員資訊</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" novalidate>
        <ion-list lines="full">
          <ion-item lines="none" color="light">
            <ion-label>
              <ion-text color="danger">*</ion-text>為必填項目
            </ion-label>
          </ion-item>
          <!-- divisionName -->
          <ion-item>
            <ion-label position="stacked">工作單位</ion-label>
            <ion-input formControlName="divisionName" type="text" inputmode="text" placeholder="工作單位"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['divisionName'].hasError('maxlength') && (editForm.controls['divisionName'].dirty || editForm.controls['divisionName'].touched)">
              工作單位<strong>最多30位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['divisionName'].hasError('server') && (editForm.controls['divisionName'].dirty || editForm.controls['divisionName'].touched)">
              {{ editForm.controls['divisionName'].getError('server') }}
            </ion-text>
          </div>
          <!-- jobTitle -->
          <ion-item>
            <ion-label position="stacked">職稱</ion-label>
            <ion-input formControlName="jobTitle" type="text" inputmode="text" placeholder="職稱"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('maxlength') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
              職稱<strong>最多30位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('server') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
              {{ editForm.controls['jobTitle'].getError('server') }}
            </ion-text>
          </div>
        </ion-list>
        <ion-button class="ion-margin" [disabled]="editForm.invalid" type="submit" shape="round" expand="block">修改</ion-button>
      </form>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
