<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密碼</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">修改密碼</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)" novalidate>
    <ion-list lines="full">
      <ion-item lines="none" color="light">
        <ion-label>
          <ion-text color="danger">*</ion-text>為必填項目
        </ion-label>
      </ion-item>
      <!-- currentPassword -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>目前密碼</ion-label>
        <ion-input formControlName="currentPassword" type="password" inputmode="text" autocomplete="current-password" placeholder="目前密碼" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['currentPassword'].hasError('required') && (changeForm.controls['currentPassword'].dirty || changeForm.controls['currentPassword'].touched)">
          目前密碼是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['currentPassword'].hasError('minlength') && (changeForm.controls['currentPassword'].dirty || changeForm.controls['currentPassword'].touched)">
          目前密碼<strong>最少須要8位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['currentPassword'].hasError('maxlength') && (changeForm.controls['currentPassword'].dirty || changeForm.controls['currentPassword'].touched)">
          目前密碼<strong>最多64位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['currentPassword'].hasError('pattern') && (changeForm.controls['currentPassword'].dirty || changeForm.controls['currentPassword'].touched)">
          目前密碼<strong>至少需要1位數字及1位小寫字母</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['currentPassword'].hasError('server') && (changeForm.controls['currentPassword'].dirty || changeForm.controls['currentPassword'].touched)">
          {{ changeForm.controls['currentPassword'].getError('server') }}
        </ion-text>
      </div>
      <!-- newPassword -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>新密碼</ion-label>
        <ion-input formControlName="newPassword" type="password" inputmode="text" autocomplete="new-password" placeholder="新密碼" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['newPassword'].hasError('required') && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
          新密碼是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['newPassword'].hasError('minlength') && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
          新密碼<strong>最少須要8位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['newPassword'].hasError('maxlength') && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
          新密碼<strong>最多64位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['newPassword'].hasError('pattern') && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
          新密碼<strong>至少需要1位數字及1位小寫字母</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['newPassword'].hasError('server') && (changeForm.controls['newPassword'].dirty || changeForm.controls['newPassword'].touched)">
          {{ changeForm.controls['newPassword'].getError('server') }}
        </ion-text>
      </div>
      <!-- confirmNewPassword -->
      <ion-item>
        <ion-label position="stacked"><ion-text color="danger">*</ion-text>確認新密碼</ion-label>
        <ion-input formControlName="confirmNewPassword" type="password" inputmode="text" autocomplete="new-password" placeholder="確認新密碼" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['confirmNewPassword'].hasError('required') && (changeForm.controls['confirmNewPassword'].dirty || changeForm.controls['confirmNewPassword'].touched)">
          確認新密碼是<strong>必填的</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['confirmNewPassword'].hasError('minlength') && (changeForm.controls['confirmNewPassword'].dirty || changeForm.controls['confirmNewPassword'].touched)">
          確認新密碼<strong>最少須要8位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['confirmNewPassword'].hasError('maxlength') && (changeForm.controls['confirmNewPassword'].dirty || changeForm.controls['confirmNewPassword'].touched)">
          確認新密碼<strong>最多64位</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['confirmNewPassword'].hasError('mustMatch') && (changeForm.controls['confirmNewPassword'].dirty || changeForm.controls['confirmNewPassword'].touched)">
          確認新密碼與新密碼<strong>不相同</strong>
        </ion-text>
        <ion-text color="danger" class="error-message" *ngIf="changeForm.controls['confirmNewPassword'].hasError('server') && (changeForm.controls['confirmNewPassword'].dirty || changeForm.controls['confirmNewPassword'].touched)">
          {{ changeForm.controls['confirmNewPassword'].getError('server') }}
        </ion-text>
      </div>
    </ion-list>
    <ion-button class="ion-margin" [disabled]="changeForm.invalid" type="submit" shape="round" expand="block">修改</ion-button>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
