<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>登入</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account/register">註冊</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">登入</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
    <!-- userName -->
    <ion-item>
      <ion-label position="stacked">使用者名稱</ion-label>
      <ion-input formControlName="userName" type="text" inputmode="text" autocomplete="username" placeholder="使用者名稱" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['userName'].hasError('required') && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
        使用者名稱是<strong>必填的</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['userName'].hasError('maxlength') && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
        使用者名稱<strong>最多100位</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['userName'].hasError('pattern') && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
        使用者名稱只能是<strong>字母或數字或<code>+ - = _ .</code></strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['userName'].hasError('server') && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
        {{ loginForm.controls['userName'].getError('server') }}
      </ion-text>
    </div>
    <!-- password -->
    <ion-item>
      <ion-label position="stacked">密碼</ion-label>
      <ion-input formControlName="password" type="password" inputmode="text" autocomplete="current-password" placeholder="密碼" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        密碼是<strong>必填的</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        密碼<strong>最少須要8位</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['password'].hasError('maxlength') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        密碼<strong>最多64位</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['password'].hasError('pattern') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        密碼<strong>至少需要1位數字及1位小寫字母</strong>
      </ion-text>
      <ion-text color="danger" class="error-message" *ngIf="loginForm.controls['password'].hasError('server') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        {{ loginForm.controls['password'].getError('server') }}
      </ion-text>
    </div>
    <ion-button [disabled]="loginForm.invalid" class="ion-margin" type="submit" size="default" expand="block">登入</ion-button>
    <ion-button [href]="nidUrl()" class="ion-margin" color="secondary" size="default" expand="block">NID 登入</ion-button>
  </form>
  <div class="ion-text-center">
    <a routerLink="/account/password/forget">忘記密碼</a>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
