<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>關於我們</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">關於我們</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>逢甲大學</ion-card-subtitle>
            <ion-card-title>成就學生中心</ion-card-title>
          </ion-card-header>
          <ion-card-content>你知道不論你未來要升學或就業，成就學生中心提供逢甲大學學生職涯諮詢、職涯課程及就業資訊，讓我們幫助您規劃您未來的職涯發展。</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>相關連結</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item detail detail-icon="open" lines="full" href="http://www.cdc.fcu.edu.tw/" target="_blank">
              <ion-label class="ion-text-wrap">成就學生中心首頁</ion-label>
            </ion-item>
            <ion-item detail detail-icon="open" lines="full" href="https://www.facebook.com/fcussc/" target="_blank">
              <ion-icon name="logo-facebook" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">Facebook 粉絲專頁</ion-label>
            </ion-item>
            <ion-item detail detail-icon="open" lines="none" href="https://sscucan.fcu.edu.tw/" target="_blank">
              <ion-label class="ion-text-wrap">UCAN 大專院校就業職能平台</ion-label>
            </ion-item>
          </ion-list>
          <ion-card-content></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-content>
