<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account/profile/administrator" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>管理員資訊</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">管理員資訊</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <ng-container *ngIf="(loadingError$ | async) === false; else error">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" novalidate>
        <ion-list lines="full">
          <ion-item lines="none" color="light">
            <ion-label>
              <ion-text color="danger">*</ion-text>為必填項目
            </ion-label>
          </ion-item>
          <ion-item lines="none" color="warning">
            <ion-label class="ion-text-wrap ion-text-center">若啟用顯示於關於頁面，則職稱、分機、聯絡用電子郵件為必填</ion-label>
          </ion-item>
          <!-- showAbout -->
          <ion-item>
            <ion-label>顯示於關於頁面</ion-label>
            <ion-toggle (ionChange)="toggleShowAbout($event)" formControlName="showAbout"></ion-toggle>
          </ion-item>
          <div class="validation-errors">
            <ion-text class="error-message" *ngIf="editForm.controls['showAbout'].hasError('required') && (editForm.controls['showAbout'].dirty || editForm.controls['showAbout'].touched)">
              顯示於關於頁面是<strong>必填的</strong>
            </ion-text>
          </div>
          <!-- networkId -->
          <ion-item>
            <ion-label position="stacked"><ion-text color="danger">*</ion-text>證號</ion-label>
            <ion-input formControlName="networkId" type="text" inputmode="text" placeholder="證號" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['networkId'].hasError('required') && (editForm.controls['networkId'].dirty || editForm.controls['networkId'].touched)">
              證號是<strong>必填的</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['networkId'].hasError('maxlength') && (editForm.controls['networkId'].dirty || editForm.controls['networkId'].touched)">
              證號<strong>最多10位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['networkId'].hasError('server') && (editForm.controls['networkId'].dirty || editForm.controls['networkId'].touched)">
              {{ editForm.controls['networkId'].getError('server') }}
            </ion-text>
          </div>
          <!-- dept -->
          <ion-item>
            <ion-label position="stacked"><ion-text color="danger">*</ion-text>部門</ion-label>
            <ion-input formControlName="dept" type="text" inputmode="text" placeholder="部門" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['dept'].hasError('required') && (editForm.controls['dept'].dirty || editForm.controls['dept'].touched)">
              部門是<strong>必填的</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['dept'].hasError('maxlength') && (editForm.controls['dept'].dirty || editForm.controls['dept'].touched)">
              部門<strong>最多20位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['dept'].hasError('server') && (editForm.controls['dept'].dirty || editForm.controls['dept'].touched)">
              {{ editForm.controls['dept'].getError('server') }}
            </ion-text>
          </div>
          <!-- unit -->
          <ion-item>
            <ion-label position="stacked">單位</ion-label>
            <ion-input formControlName="unit" type="text" inputmode="text" placeholder="單位"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['unit'].hasError('maxlength') && (editForm.controls['unit'].dirty || editForm.controls['unit'].touched)">
              單位<strong>最多20位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['unit'].hasError('server') && (editForm.controls['unit'].dirty || editForm.controls['unit'].touched)">
              {{ editForm.controls['unit'].getError('server') }}
            </ion-text>
          </div>
          <!-- jobTitle -->
          <ion-item>
            <ion-label position="stacked"><ion-text *ngIf="editForm.controls['showAbout'].value" color="danger">*</ion-text>職稱</ion-label>
            <ion-input formControlName="jobTitle" type="text" inputmode="text" placeholder="職稱" [required]="editForm.controls['showAbout'].value"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('required') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
              職稱是<strong>必填的</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('maxlength') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
              職稱<strong>最多20位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['jobTitle'].hasError('server') && (editForm.controls['jobTitle'].dirty || editForm.controls['jobTitle'].touched)">
              {{ editForm.controls['jobTitle'].getError('server') }}
            </ion-text>
          </div>
          <!-- extension -->
          <ion-item>
            <ion-label position="stacked"><ion-text *ngIf="editForm.controls['showAbout'].value" color="danger">*</ion-text>分機</ion-label>
            <ion-input formControlName="extension" type="tel" inputmode="tel" autocomplete="tel-extension"  placeholder="分機" [required]="editForm.controls['showAbout'].value"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['extension'].hasError('required') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
              分機是<strong>必填的</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['extension'].hasError('maxlength') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
              分機<strong>最多10位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['extension'].hasError('pattern') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
              分機<strong>只能是數字</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['extension'].hasError('server') && (editForm.controls['extension'].dirty || editForm.controls['extension'].touched)">
              {{ editForm.controls['extension'].getError('server') }}
            </ion-text>
          </div>
          <!-- contactEmail -->
          <ion-item>
            <ion-label position="stacked"><ion-text *ngIf="editForm.controls['showAbout'].value" color="danger">*</ion-text>聯絡用電子郵件</ion-label>
            <ion-input formControlName="contactEmail" type="email" inputmode="email" placeholder="聯絡用電子郵件" [required]="editForm.controls['showAbout'].value"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['contactEmail'].hasError('required') && (editForm.controls['contactEmail'].dirty || editForm.controls['contactEmail'].touched)">
              聯絡用電子郵件是<strong>必填的</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['contactEmail'].hasError('email') && (editForm.controls['contactEmail'].dirty || editForm.controls['contactEmail'].touched)">
              聯絡用電子郵件<strong>格式錯誤</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['contactEmail'].hasError('maxlength') && (editForm.controls['contactEmail'].dirty || editForm.controls['contactEmail'].touched)">
              聯絡用電子郵件<strong>最多320位</strong>
            </ion-text>
            <ion-text color="danger" class="error-message" *ngIf="editForm.controls['contactEmail'].hasError('server') && (editForm.controls['contactEmail'].dirty || editForm.controls['contactEmail'].touched)">
              {{ editForm.controls['contactEmail'].getError('server') }}
            </ion-text>
          </div>
        </ion-list>
        <ion-button class="ion-margin" [disabled]="editForm.invalid" type="submit" shape="round" expand="block">修改</ion-button>
      </form>
    </ng-container>
    <ng-template #error>
      <ion-card>
        <ion-card-header>
          <ion-card-title>發生錯誤</ion-card-title>
        </ion-card-header>
        <ion-img src="assets/Feeling-angry-amico.svg" alt="錯誤"></ion-img>
        <ion-button (click)="getData()" class="ion-margin" color="primary" expand="block" shape="round">重新整理</ion-button>
      </ion-card>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-card-header>
        <ion-card-title>載入中...</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/Loading-bro.svg" alt="載入中"></ion-img>
    </ion-card>
  </ng-template>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
