<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p class="mat-body">Copyright &copy; {{ date | date: 'yyyy' }} 逢甲大學 成就學生中心</p>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a class="is-facebook" href="https://www.facebook.com/fcussc/" target="_blank">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a class="is-instagram" href="https://www.instagram.com/fcu.cdc/" target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a class="is-white" href="https://ssc.fcu.edu.tw/" target="_blank">
      <fa-icon [icon]="faLink"></fa-icon>
    </a>
    <a class="is-github" href="https://github.com/fcu-ssc/" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
