<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>驗證電子郵件</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/account/login">登入</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">驗證電子郵件</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-img src="assets/Confirmed-cuate.svg" alt="驗證電子郵件"></ion-img>
    <ion-button routerLink="/account/login" class="ion-margin" color="primary" expand="block" shape="round">立即登入</ion-button>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="medium" size="small">Copyright &copy; {{ date | date: 'yyyy' }} TsheThauLoo.</ion-title>
  </ion-toolbar>
</ion-footer>
